.box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  line-height: 125%;
}

.btn {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;

  label {
    min-height: 40px;
    z-index: 2;
    background-color: #f1f7ff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  label.active {
    background-color: #0000E6;
    color: #fff;
  }

  input {
    height: 0;
    width: 0;
    opacity: 0;
  }
}